/*login_css*/

.borderY{border: 1px solid #fa0;}
input{border: 1px solid #a0f;}
body{width: 100%;height: 100%; background-color: #eee;margin: 0 auto;}

body>section{
    width: 1500px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
}
body>section .blackOpacity{
    
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
    background-color: rgba(0, 0, 0, 0.24);
}
body>section .blackOpacity_left{
    
    width: calc((100% - 60rem) / 2);
    height: 100%;
    top:0;
    left: 0;
}
body>section .blackOpacity_right{
    
    width: calc((100% - 60rem) / 2);
    height: 100%;
    top:0;
    right: 0;
}
body>section .blackOpacity_top{
    
    width: 60rem;
    height: calc((100% - 35rem) / 2);
    top:0;
    right: 50%;
    margin-right: -30rem;
}
body>section .blackOpacity_bottom{
    
    width: 60rem;
    height: calc((100% - 35rem) / 2);
    bottom:0;
    right: 50%;
    margin-right: -30rem;
}





/*백그라운드 이미지 체인지 영역*/
.changeImg{
    
    
    position: absolute;
    z-index: -100;
    top: 0;
    left: 50%;
    margin-left: -750px;
    
}
    .changeImg ul{
        margin: 0 auto;
        
        position: relative;
        
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
        .changeImg li{
             position: absolute;
            top: 0;
            left: 0;
        }
        .changeImg li:nth-child(1){
            
            z-index: 10;
            
        }
        .changeImg li:nth-child(2){
            
            z-index: 20;
            
        }
    



.loginArea{
    width: 60rem;
    height: 35rem;
    
    margin: 13.5rem auto;
    
    display: flex;
    box-shadow: 5px 5px 8px 5px rgba(17, 17, 17, 0.29);
    
}


/*광고배너 영역*/

.leftBanner{
        width: 60%;
        height: 35rem;
        background-color: transparent;
}
.leftBanner>div{
    margin-top: 7rem;
    margin-left: 3rem;     /*광고문구 위치 조정 마진값*/
}
.leftBanner>div>div:nth-child(1){
    width: 5rem;
    height: 6px;
    background-color: #fff;   /*배너 글자 장식*/
    margin-bottom: 1rem;
}
.leftBanner>div>div{
    font-weight: 400;
    font-size: 2.5rem;                         /*배너 글씨 내용*/
    color: #fff;
    text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.76);
}
.leftBanner>div>div span{font-size: 3rem;font-weight: 600}


/*로그인 정보입력 오른쪽 창*/

    .rightLoginBox{
        width: 40%;
        height: 35rem;
        background-color: #fff;
}

.rightLoginBox>.header{
    height: 14rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    font-size: 1.9rem;
    font-weight: 600;
    flex: 1;
    
}
.rightLoginBox>.header>h2{
    font-size: 1.3rem;
    color: #777;
    margin-top: 0.6rem;
    font-weight: 600;
    
}


.rightLoginBox>.memberInputArea{
    display: flex;
    
}

.rightLoginBox>.memberInputArea>div{
    display: flex;
    flex-direction: column;
    
}

.idpwInput{
    display: flex;
    border-top: 1px solid #ddd;
    margin: 0 1rem;
    padding: 2rem 0 0.5rem 0;
}
.idpwInput>div:nth-child(1){
    display: flex;
    align-items: center;
}
.idpwInput>div:nth-child(1) input{
    width: 14rem;
    height: 2.5rem;
    margin: 0.2rem;
    box-shadow: 1px 1px 1px 1px rgba(153, 153, 153, 0.3);
    border: none;
    border-radius: 4px;
    
}


.idpwInput>div:nth-child(1) input::-webkit-input-placeholder {
    font-size: 0.8rem;
    line-height: 3;
    text-indent: 0.5rem;
}
.idpwInput>div:nth-child(1){
    flex: 2;
    display: flex;
    flex-direction: column;
    
}

.idpwInput>div:nth-child(2){
    flex: 1;
    
}


.birdieGOLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 3px;
   
    
}
.birdieGOLogin input{
    width: 100%;
    height: 5.5rem;
     background-color: rgb(41,158,229);
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 4px;
    box-shadow: 1px 1px 3px 1px rgba(153, 153, 153, 0.5);
}


/*로그인 자동저장 및 비밀번호/아이디찾기*/

.autoNjoinNfind{
    display: flex;
    border-bottom: 1px solid #eee;
    font-size: 0.8rem;
    text-align: right;
    
}
.autoLogin{
    flex: 1;
    margin: 0 1.4rem;
    font-size: 0.9rem;
    padding: 0.8rem 0;
    display: flex;
    align-items: center;
    
    
}
.autoLogin label{font-size: 0.8rem;color: #777;}
.autoLogin input{
    
    margin-right: 0.5rem;
    width: 1.1rem;
    height: 1.1rem;
}

.joinNfindArea{
    flex: 1;
   display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1.3rem;
}
.joinNfindArea>div:nth-child(1){
    text-align: right;
   
    padding-right: 0.5rem;
    
    
}
.joinNfindArea>div:nth-child(2){
    width: 1px;
    height: 1rem;
    background-color: #777;
    margin-right: 0.5rem;
    
}
.joinNfindArea>div:nth-child(3){
    text-align: right;
}

.joinNfindArea a{
    line-height: 2rem;
    font-weight: 600;
    color: #777;
    
}



/*다른 로그인 방법*/

.loginBTN{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.loginBTN button{
    width:17rem;
    height: 2.3rem;
    margin-top: 1rem;
    border-radius: 3px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
}
.naverLogin button{
    
    background-color: #1AC54C;
    
}
.naverLogin button img{
    margin-right: 0.5rem;
    
}

.nomemb button{
    background-color: #777;
   
    
}
.nomembLoginArea{}
.nomembLoginArea .header{position: relative;}
.nomembLoginArea .header button{
    width:4rem;
    height: 4rem;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10000;
}
.nomembLoginArea .header button i{
    font-size: 1.5rem;
}

.nomembLoginArea .potentialCustomer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top:1px solid #eee;
    
    height: 8rem;
     padding: 2rem 0.5rem 0.5rem 0.5rem;
}
.nomembLoginArea .potentialCustomer input{
    width: 20rem;
    border: none;
    background-color: #fff;
    border: 1px solid #eee;
    height:3rem;
    margin-bottom: 5px;
    box-shadow: 1px 1px 1px 1px rgba(150, 142, 142, 0.1);
}

.nomembSubmit{
}
.nomembSubmit input{
    box-shadow: 1px 1px 5px 1px rgba(8, 8, 8, 0.21);
    width:17rem;
    height: 2.3rem;
    margin-top: 1rem;
    border-radius: 3px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    background-color: #1780ea;
    
}
.potentialCustomer input::-webkit-input-placeholder {
    font-size: 0.8rem;
    line-height: 3;
    text-indent: 0.5rem;
}
