/*login_css*/

.borderY{border: 1px solid #fa0;}
input{border: 1px solid #a0f;}
body{background-color: #ccc;}
body>section{
    
    display: flex;
    align-items: center;
    flex-direction: column;
}
.changeImg{
    
    margin: 0 auto;
    width: 60rem;
    height: 50rem;
    
    position: absolute;
    z-index: -100;
    
    padding: 5rem 0;
}


.changeImg ul{
margin: 0 auto;
    width: 60rem;
    height: 50rem;
    
    
    padding: 5rem 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.changeImg li:nth-child(1){
    
    position: absolute;
    z-index: 10;
    
}
.changeImg li:nth-child(2){
    
    position: absolute;
    z-index: 20;
    
}


.bgi{
    margin: 0 auto;
    width: 60rem;
    height: 50rem;
   
    padding: 5rem 0;
}
.loginArea{
    width: 40rem;
    height: 35rem;
    
    margin: 0 auto;
    
    display: flex;
    box-shadow: 5px 5px 10px 10px rgba(17, 17, 17, 0.41);
    
}
    .leftBanner{
        width: 60%;
        height: 35rem;
        background-color: transparent;
}
    .rightLoginBox{
        width: 40%;
        height: 35rem;
        background-color: #fff;
}

.rightLoginBox>h1{
    height: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    flex: 1;
    
}
.rightLoginBox>.memberInputArea{
    display: flex;
    
}
.rightLoginBox>.memberInputArea>div{
    border: 1px solid #000;
    

}
.rightLoginBox>.memberInputArea>div:nth-child(1){
    flex: 5;
    display: flex;
    flex-direction: column;
}
.rightLoginBox>.memberInputArea>div:nth-child(2){
    flex:2;

}

.rightLoginBox>.memberInputArea>div:nth-child(1) input{
    border: 1px solid #f0a;
    margin: 0.3rem;
    width: 10rem;
    height: 2rem;
    border-radius: 3px;
    
}
.birdieGOLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.birdieGOLogin input{
    background-color: #fff;
    
}

.rightLoginBox
.rightLoginBox
