/*loginError_css*/
body{
    width: 24rem;
}
h1{
    border-bottom: 1px solid #eee;
    
}

.warning{
  font-size: 3rem;
  color: #0070c9;
  margin-bottom:1rem;
}
.warningTxt span{
    display: block;
}
.warningTxt span:nth-child(1){
    font-size: 1.2rem;
}
.warningTxt span:nth-child(2){
    font-size: 0.9rem;
    margin: 1rem;
    
}
.closeBtn{
    padding-bottom: 2rem;
    border-bottom: 1px solid #eee;
}
button{
    width: 8rem;
    background-color: #0070c9;
    padding: 0.5rem;
    color: #fff;
    font-size: 1.1rem;
    border-radius: 2px;
    
    margin-top: 1rem;
}
